<p>lista works!</p>
<select name="lista" id="lista">
    <option *ngFor="let hero of myHeroes" value="{{hero.id}}">{{hero.name}}</option>
</select>
<ul>
    <li *ngFor="let hero of myHeroes">
        <div><span>Id: </span><span class="data">{{hero.id}}</span></div>
        <div>
            <span>Name: </span>
            <span class="data">{{hero.name | uppercase}}</span>
            <input name="name1" [(ngModel)]="hero.name" placeholder="name of heroe">
        </div>
    </li>
</ul>
<br>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody *ngFor="let hero of myHeroes">
        <tr >
            <td>{{hero.id}}</td>
            <td>{{hero.name}}</td>
        </tr>
    </tbody>
</table>